<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned IPs</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>IPs currently banned:</h1>
<ul>
    {{ range . }}
    <li><a href="https://search.arin.net/rdap/?query={{.}}" target="_blank" title="Click link for IP ownership information">{{ . }}</a></li>
    {{ end }}
</ul>
<p><a href="/unban">Click here to unban an IP</a>
<p>You can open up a <a href="https://redmine.plansource.com/projects/devops/issues/new" target="_blank">Redmine</a> ticket with the Devops group to investigate further why they are being blocked.</p>

</body>
</html>
