<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned IPs</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>IPs currently banned:</h1>
<ul>
    {{ range . }}
    <li>{{ . }}</li>
    {{ end }}
</ul>
<p>If your clients IP is listed above they will not be able to connect to this server.</p>

</body>
</html>
