<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Un ban IP</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

{{if .Success}}
  <h1>IP was removed from the ban list</h1>
{{else}}
  <h1>Unban IP</h1>
  <form method="POST">
    <label>IP to unban:</label><br />
    <input type="text" name="ip"><br />
  </form>
{{end}}

</body>
</html>
