body {
  padding-left: 1em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: black;
  background-color: LightGray;
}
h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a:active {
  color: red;
  text-decoration: underline;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
